<% if (theme.ad.adExhibition){ %>
    <% if(theme.ad.sidebar.imgUrl){ %>
        <div class="ad">
            <div class="row">
                <div class="col-md-12">
                    <a href="<%= theme.ad.sidebar.targetUrl %>" rel="nofollow" target="_blank">
                        <img class="img-responsive center-block"
                             title="<%= theme.ad.sidebar.title %>"
                             src="<%= theme.ad.sidebar.imgUrl %>"
                        >
                    </a>
                </div>
            </div>
        </div>
    <% } %>
<% } %>


