<div class="widget">
    <div class="row">
        <div class="col-md-3">
            <img alt="Spring Cloud" class="img-responsive center-block" src="/icons/spring-cloud.jpg">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/spring-cloud/spring-cloud-index/">Spring Cloud系列教程</a>
            <p>全面、通俗易懂的Spring Cloud教程</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="Spring Cloud Alibaba视频教程" class="img-responsive center-block" src="/icons/alibaba.png">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="https://coding.imooc.com/class/358.html">Spring Cloud Alibaba视频教程</a>
            <p>全网唯一，你值得拥有</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="Docker" class="img-responsive center-block" src="/icons/docker.png">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/docker/00-docker-lession-index/">Docker系列教程</a>
            <p>Docker系列</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="Spring Boot" class="img-responsive center-block" src="/icons/spring-boot.jpg">
        </div>
        <div class="col-md-9">
            <a class="series-a" target="_blank" href="/spring-boot/spring-boot-index/">Spring Boot系列教程</a>
            <p>Boot是基石...</p>
        </div>
    </div>
</div>

